body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(90deg, #00c6ff, #9ae3c9);
    color: #fff;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 1em;
}

.navbar {
    display: flex;
    justify-content: center;
}

.nav-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-item {
    margin: 0 1em;
}

.nav-item a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.3s;
}

.nav-item a:hover {
    color: #ffeb3b;
}

section {
    padding: 100px 20px;
    text-align: center;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    color:rgb(8, 0, 255);
}

.hero-photo {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
    rotate: 270deg;
}

h1, h2 {
    margin-bottom: 20px;
}

.project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project-item {
    background: rgba(0, 0, 0, 0.8);
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

footer {
    background: rgba(0, 0, 0, 0.7);
    padding: 1em;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
